<% @photos.each do |photo| %>
<table>
  <thead>
    <tr>
      <th>投稿画像</th>
      <th>タイトル</th>
      <th>説明</th>
      <th>投稿者</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= link_to photo_path(photo.id) do %>
        <%= attachment_image_tag photo, :image, size: '100x100' %>
        <% end %>
      </td>
      <td><%= photo.title %></td>
      <td><%= photo.body %></td>
      <td><%= photo.user.last_name + photo.user.first_name %></td>
      <td><%= link_to "#{photo.photo_comments.count} コメント", photo_path(photo.id) %></td>
    </tr>
  </tbody>

</table>

<% end %>