<div class="flexcontainer">
  <%= form_with model: @photo, local:true do |f| %>
    <h2>新規投稿</h2>
      <table>
        <tbody>
          <tr>
            <th>画像</th>
              <td><%= f.attachment_field :image %></td> <!--画像選択-->
          </tr>
          <tr>
            <th>タイトル</th>
              <td><%= f.text_field :title %></td> <!--タイトル入力-->
          </tr>
          <tr>
            <th>本文</th>
              <td><%= f.text_area :body %></td> <!--本文入力-->
          </tr>
          <tr>
              <td><%= f.submit '投稿', class:'btn btn btn-success' %></td> <!--値の保存と送信-->
          </tr>
              <% end %>
        </tbody>
      </table>
</div>

