<div class="flexcontainer">
  <%= form_with model: @photo, local:true do |f| %>
    <h2>新規投稿</h2>
      <table>
        <tbody>
          <tr>
            <th>画像</th>
              <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th>タイトル</th>
              <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <th>説明</th>
              <td><%= f.text_area :body %></td>
          </tr>
          <tr>
              <td><%= f.submit '投稿', class:'btn btn btn-success' %></td>
          </tr>
              <% end %>
        </tbody>
      </table>
</div>

