<h2>投稿詳細画面</h2>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>投稿画像</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>投稿者</th>
      <th>投稿日時</th>
      <th></th>
      <th>コメント件数</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= attachment_image_tag @photo, :image, size: '100x100' %></td> <!--投稿画像表示-->
      <td><%= @photo.title %></td> <!--投稿タイトル-->
      <td><%= @photo.body %></td> <!--投稿本文-->
      <td><%= @photo.user.last_name + @photo.user.first_name %></td> <!--ユーザーの名前-->
      <td><%= @photo.created_at.strftime('%Y/%m/%d') %></td> <!--投稿日時-->
      <td id="favorite_buttons_<%= @photo.id %>">
      <%= render "favorites/favorites", photo: @photo %> <!--いいねの部分テンプレート呼び出し-->
      </td>
      <td><%= @photo.photo_comments.count %></td> <!--投稿に対するコメント数-->
      <td>
        <% if @photo.user == current_user %> <!--投稿したユーザーとログイン中のユーザーが同じであれば-->
        <%= link_to "削除", photo_path(@photo), class: "btn btn-sm btn-danger",method: :delete %> <!--削除を表示-->
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'photo_comments/index', photo: @photo, photo_comments: @photo_comment %>

