<h2>投稿詳細画面</h2>

<table>
  <thead>
    <tr>
      <th>投稿画像</th>
    </tr>
    <tr>
      <th>タイトル</th>
    </tr>
    <tr>
      <th>説明</th>
    </tr>
    <tr>
      <th>投稿者</th>
    </tr>
    <tr>
      <th>投稿日時</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= attachment_image_tag @photo, :image, size: '100x100' %></td>
    </tr>
    <tr>
      <td><%= @photo.title %></td>
    </tr>
    <tr>
      <td><%= @photo.body %></td>
    </tr>
    <tr>
      <td><%= @photo.user.last_name + @photo.user.first_name %></td>
    </tr>
    <tr>
      <td><%= @photo.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
  </tbody>
    <% if @photo.user == current_user %>
    <%= link_to "削除", photo_path(@photo), method: :delete %>
    <% end %>
</table>

<div>
  <p>コメント件数：<%= @photo.photo_comments.count %></p>
    <% @photo.photo_comments.each do |photo_comment| %>
    <%= photo_comment.user.last_name + photo_comment.user.first_name %>
    <%= photo_comment.created_at.strftime('%Y/%m/%d') %><%= photo_comment.comment %>

    <% if photo_comment.user == current_user %>
  <div>
    <%= link_to "削除", photo_photo_comment_path(photo_comment.photo, photo_comment), method: :delete %>
  </div>
    <% end %>
    <% end %>

    <div id="favorite_buttons_<%= @photo.id %>">
      <%= render "favorites/favorites", photo: @photo %>
    </div>

</div>
<div>

<%= form_with(model:[@photo, @photo_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>