<h2>投稿詳細画面</h2>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>投稿画像</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>投稿者</th>
      <th>投稿日時</th>
      <th></th>
      <th>コメント件数</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= attachment_image_tag @photo, :image, size: '100x100' %></td>
      <td><%= @photo.title %></td>
      <td><%= @photo.body %></td>
      <td><%= @photo.user.last_name + @photo.user.first_name %></td>
      <td><%= @photo.created_at.strftime('%Y/%m/%d') %></td>
      <td id="favorite_buttons_<%= @photo.id %>">
      <%= render "favorites/favorites", photo: @photo %>
      </td>
      <td><%= @photo.photo_comments.count %></td>
      <td>
        <% if @photo.user == current_user %>
        <%= link_to "削除", photo_path(@photo), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'photo_comments/index', photo: @photo, photo_comments: @photo_comment %>

